.container-fluid
{
    min-width: 100%;
}
#header
{
    margin: 10px 0 0 40px;
    width: 100%;
}
nav
{
    margin-top: 10px;
}
.nav .open>a:hover,.nav .open>a:focus
{
    background: white;
}
.nav>li>a:hover,.nav>li>a:focus
{
    background-color: #fff;
    text-decoration: none;
}
.dropdown-menu
{
    box-shadow: none;
    font-size: 12px;
}
.nav > li:hover .dropdown-menu
{
    display: block;
}
.blue-content
{
    height: 42px;
    width: auto;
    border: solid;
}
.db
{
    display: block;
}
.bluedown
{
    position:absolute;left: 0px;top:auto; display:block;height:42px;font-size:12px;font-family:'微软雅黑'
}
.bluedown-home,.bluedown-home ul li a{z-index: -1}
.bluedown1,.bluedown1 ul li a{z-index: 1}
.bluedown ul{margin:0px 0px 0px 100px;padding:0;list-style-type:none;width:auto;}
.bluedown ul li{float:left; margin:0 1px 0 0;}
.bluedown ul li a{float:left;color:#333;text-decoration:none;padding:10px 22px 0 22px;height:43px;}
.bluedown ul li a:hover{color: #00b3ee;}

.

/* ---------------------- Blueslate nav ---------------------- */
.blue{ text-align: justify;}
.blue #slatenav{position:relative;display:block;height:42px;font-size:14px;font-weight:bold;background:transparent url(blueslate_background.gif) repeat-x top left;font-family:'微软雅黑'}
.blue #slatenav ul{margin:0px 0px 0px 100px;padding:0;list-style-type:none;width:auto;}
.blue #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.blue #slatenav ul li a{display:block;float:left;color:#D5F1FF;text-decoration:none;padding:10px 22px 0 22px;height:43px;}
.blue #slatenav ul li a:hover{color:#fff;background:transparent url(blueslate_backgroundOVER.gif) no-repeat top center ;}
.blue #slatenav ul li a.current{background-color: #006794}
/* ---------------------- END Blueslate nav ---------------------- */
